<div id="header_topBarPromotion" style="background: url(https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/header-top-promotion-bg.jpg) no-repeat center center;">
    <div class="container">
        <div class="customPromotion">
            <div class="customPromotion__left">
                <p>Rated Excellent ⭐⭐⭐⭐⭐ 4.9 / 5 Based on 7,000+ Verified Customer Reviews</p>
            </div>
            <div class="customPromotion__right">
                <div class="promotionRight__item promotionRight__item--social">
                    {{> components/common/social-links}}
                </div>
                <div class="promotionRight__item promotionRight__item--account">
                    <a class="navUser-action navUserAction-login" href="/login.php" aria-label="Sign in">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>