<div class="navigationBottom hide-above-tablet">
    <ul class="navigationBottom__list">
        <li class="navigationBottom__item navigationBottom__item--home">
           <a href="{{url.home}}" class="navigationBottom__item--link">
                <span class="fa fa-home icon item__icon" aria-hidden="true"></span>
                <span class="item__text">
                    Home
                </span>
           </a>
        </li>
        <li class="navigationBottom__item navigationBottom__item--cart">
            <span class="fa fa-shopping-bag icon item__icon" aria-hidden="true"></span>
            <span class="item__text">
                Cart
            </span>
        </li>
        <li class="navigationBottom__item navigationBottom__item--account">
            <span class="fa fa-user icon item__icon" aria-hidden="true"></span>
            <span class="item__text">
                Account
            </span>
        </li>
        <li class="navigationBottom__item navigationBottom__item--menu">
            <span class="menu-toggle-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <span class="item__text">
                Menu
            </span>
        </li>
    </ul>
</div>