<nav class="navUser">
    <div class="item--quicksearch halo-search halo-search-main">
        <div id="quickSearch" class="quickSearch">
            {{> components/common/quick-search name='quick_search_header'}}
        </div>
    </div>
</nav>

<nav class="navUser navUser__custom">
    <ul class="navUser-section navUser-section--alt">
        <li class="navUser-item navUser-item--cart navUser-item--customCart">
            <a class="navUser-action navUser-actionCart"
               data-cart-preview
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            > 
            <svg aria-hidden="true"><use xlink:href="#icon-cart-custom"></use></svg>
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
            </a>

            <span class="custom-priceTotal">item - £<span class="totalValue">0.00</span></span>
        </li>
    </ul>
</nav>

