
<nav class="navUser navUser__custom">
    <div class="custom-quickSearch-pc navUser__custom-search">
        <form class="form" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form>
            <fieldset class="form-fieldset">
                <div class="form-field">
                    <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                    <input class="form-input form-input-customSearch"
                          data-search-quick
                          name="{{name}}"
                          id="{{name}}"
                          data-error-message="{{lang 'search.error.empty_field'}}"
                          placeholder="{{lang 'search.quick_search.input_placeholder'}}"
                          autocomplete="off"
                    >
                    <button class="quickSearch-btn" type="submit" aria-label="Submit Quick Search">
                      <svg class="dgwt-wcas-ico-magnifier" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51.539 51.361" xml:space="preserve">
                        <path d="M51.539,49.356L37.247,35.065c3.273-3.74,5.272-8.623,5.272-13.983c0-11.742-9.518-21.26-21.26-21.26 S0,9.339,0,21.082s9.518,21.26,21.26,21.26c5.361,0,10.244-1.999,13.983-5.272l14.292,14.292L51.539,49.356z M2.835,21.082 c0-10.176,8.249-18.425,18.425-18.425s18.425,8.249,18.425,18.425S31.436,39.507,21.26,39.507S2.835,31.258,2.835,21.082z"></path>
                        </svg>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <ul class="navUser-section navUser-section--alt navUser__custom-cart">
        <li class="navUser-item navUser-item--cart navUser-item--customCart">
            <a class="navUser-action navUser-actionCart"
               data-cart-preview
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            > 
            <svg aria-hidden="true"><use xlink:href="#icon-cart-custom"></use></svg>
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
            </a>

            <span class="custom-priceTotal">item - <span class="totalValue">£0.00</span></span>
        </li>
    </ul>
</nav>
