<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{> components/halothemes/header/halo-top-bar-promotion}}

<header class="header header-logo--{{theme_settings.halo_position_logo}}" role="banner">
    {{#if theme_settings.enable_tabs}}
          {{> components/halothemes/header/header-tabs}}
     {{/if}}
    <div class="header-center header__desktop">
        {{#if theme_settings.halo_position_logo '==' 'center'}}
            <div class="header__desktop--left">
                <div class="navPages-container" id="menu" data-menu>
                    {{> components/common/navigation-menu}}
                </div>
            </div>
        {{/if}}
        <div class="{{#if theme_settings.halo_position_logo '==' 'center'}}header__desktop--center{{else}}header__desktop--left{{/if}}">
            {{#if page_type '===' 'default'}}
                <h1 class="header-logo">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
        </div>
        {{#if theme_settings.halo_position_logo '==' 'left'}}
            <div class="header__desktop--center">
                <div class="navPages-container" id="menu" data-menu>
                    {{> components/common/navigation-menu}}
                </div>
            </div>
        {{/if}}
        <div class="header__desktop--right">
            {{> components/common/navigation}}
        </div>
    </div>

    <div class="header__mobile">
        {{> components/halothemes/header/halo-header-mobile}}
    </div>
    
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
        {{> components/common/quick-search name='nav-quick-search'}}
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

{{> components/halothemes/banners/halo-topBottom-banner position = "top"}}
