{{#and (if theme_settings.haloBrandsSlider) (if theme_settings.haloBrandsSlider_img_1)}}
	<div class="haloBrandsSlider">
		<div class="haloBrandsSlider__container">
			<div class="haloBrandsSlider__row">
				<div class="haloBrandsSlider__carousel">
					{{#if theme_settings.haloBrandsSlider_img_1}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_1}}" aria-label="Image Brand 1">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_1}}" alt="Image Brand 1" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_2}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_2}}" aria-label="Image Brand 2">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_2}}" alt="Image Brand 2" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_3}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_3}}" aria-label="Image Brand 3">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_3}}" alt="Image Brand 3" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_4}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_4}}" aria-label="Image Brand 4">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_4}}" alt="Image Brand 4" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_5}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_5}}" aria-label="Image Brand 5">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_5}}" alt="Image Brand 5" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_6}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_6}}" aria-label="Image Brand 6">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_6}}" alt="Image Brand 6" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_7}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_7}}" aria-label="Image Brand 7">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_7}}" alt="Image Brand 7" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_8}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_8}}" aria-label="Image Brand 8">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_8}}" alt="Image Brand 8" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_9}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_9}}" aria-label="Image Brand 9">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_9}}" alt="Image Brand 9" />
							</a> 
						</div>
					{{/if}}
					{{#if theme_settings.haloBrandsSlider_img_10}}
						<div class="haloBrandsSlider__item">
							<a href="{{theme_settings.haloBrandsSlider_link_10}}" aria-label="Image Brand 10">
								<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.haloBrandsSlider_img_10}}" alt="Image Brand 10" />
							</a> 
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
{{/and}}
