<div id="categoryBottomBanner" class="halo-home-section haloBottomBanner">
	<div class="container">
		<div class="homeBottomBanner__container">
			<div class="homeBottomBanner__img">
				<a href="#" aria-label="Home Bottom Banner">
					<img src="/product_images/uploaded_images/category-bottom-banner.png" alt="Home Bottom Banner"/>
				</a>
			</div>
			<div class="homeBottomBanner__content">
				<h4 class="homeBottomBanner__title">Ask An Expert</h4>
				<p class="homeBottomBanner__ads">We’re here to help!</p>
				<p class="homeBottomBanner__des">Quisquemos sodales suscipit tortor condimentum de cosmo lacus meleifend menean blanditos.</p>
				<a href="#" class="button button--tertiary">Ask Us</a>
			</div>
		</div>
		<div class="homeBottomBanner__reviews">
			<div class="homeBottomBanner__carousel">
				<div class="homeBottomBanner__item">
					<div class="homeBottomBanner__itemDes">
						<p>Pellentesque scelerisque eget lectus vitae congue. Phasellus ut laoreet purus. Proin accumsan commodo venenatis. Nunc nedolus vestibulum nisl sit amet tristique libero. Nulla cursus hendrerit facilisis. Duis mattis sit amet neque etos cosmo condimentum aliquam deratorum volutpat nam scelerisque ipsum accumsan lorem placerat dignissim.</p>
					</div>
					<div class="homeBottomBanner__itemContent">
						<div class="homeBottomBanner__itemImg">
							<img src="/product_images/uploaded_images/testimonials-author-1.png" alt="Author" />
						</div>
						<div class="homeBottomBanner__itemTitle">
							<h5><a href="#">Annie Lee</a></h5>
							<p>Chief Executive</p>
						</div>
					</div>
				</div>
				<div class="homeBottomBanner__item">
					<div class="homeBottomBanner__itemDes">
						<p>Pellentesque scelerisque eget lectus vitae congue. Phasellus ut laoreet purus. Proin accumsan commodo venenatis. Nunc nedolus vestibulum nisl sit amet tristique libero. Nulla cursus hendrerit facilisis. Duis mattis sit amet neque etos cosmo condimentum aliquam deratorum volutpat nam scelerisque ipsum accumsan lorem placerat dignissim.</p>
					</div>
					<div class="homeBottomBanner__itemContent">
						<div class="homeBottomBanner__itemImg">
							<img src="/product_images/uploaded_images/testimonials-author-1.png" alt="Author" />
						</div>
						<div class="homeBottomBanner__itemTitle">
							<h5><a href="#">Annie Lee</a></h5>
							<p>Chief Executive</p>
						</div>
					</div>
				</div>
				<div class="homeBottomBanner__item">
					<div class="homeBottomBanner__itemDes">
						<p>Pellentesque scelerisque eget lectus vitae congue. Phasellus ut laoreet purus. Proin accumsan commodo venenatis. Nunc nedolus vestibulum nisl sit amet tristique libero. Nulla cursus hendrerit facilisis. Duis mattis sit amet neque etos cosmo condimentum aliquam deratorum volutpat nam scelerisque ipsum accumsan lorem placerat dignissim.</p>
					</div>
					<div class="homeBottomBanner__itemContent">
						<div class="homeBottomBanner__itemImg">
							<img src="/product_images/uploaded_images/testimonials-author-1.png" alt="Author" />
						</div>
						<div class="homeBottomBanner__itemTitle">
							<h5><a href="#">Annie Lee</a></h5>
							<p>Chief Executive</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
