// =============================================================================
// QUICK VIEW (CSS)
// =============================================================================

.quickView {
    @include clearfix();

    .halo-compareColors,
    .halo-bundle-products,
    .productView-desShort,
    .productView-description,
    .productView-nextProducts {
    	display: none;
    }

    .productView-images {
    	display: block;

	    .productView-nav-inner {
	    	width: 100%;
	    	padding-left: 0;
	    }

	    .productView-thumbnails-wrap {
	    	width: 100%;
	    	display: block;

	    	.productView-thumbnails {
	    		width: 100%;
	    		padding: 20px 30px; 

	    		@media(min-width: 1200px) {
		    		.productView-thumbnail {
		    			width: auto;
		    			height: auto;
		    			max-width: unset;
		    			display: inline-block;
		    			padding-left: 7.5px;
		    			padding-right: 7.5px;

		    			img {
		    				width: 100%;
		    			}
		    		}

		    		.slick-arrow {
		    			top: 50%;
		    			transform: translate(0, -50%) rotate(-90deg);
		    			width: 19px;
		    			height: 11px;
		    			.home-layout-4 & {
		    				transform: translate(0, -50%) rotate(0deg);
		    			}
		    			&.slick-prev {
		    				left: 0;
		    				right: auto;
		    			}

		    			&.slick-next {
		    				left: auto;
		    				right: 0;
		    			}
		    		}
	    		}

	    		&:not(.slick-initialized) .productView-thumbnail:nth-child(n+3) {
	    			display: none;
	    		}
	    	}
	    }
    }

    .productView__top {
    	margin-bottom: 0;
    	.halo-product-badge {
    		.home-layout-4 & {
    			left: 0;
    		}
    	}
    	.container {
    		padding-left: 0;
    		padding-right: 0;
    	}
    }

    .productView-rating .productReview_link, .productView-rating #productReview_link {
    	margin-left: 5px;
    }

    .productView-rating .productView-reviewLink {
    	margin-left: 10px;
    }

    .productView-rating-wrapper .sold-product {
    	margin-left: 10px;
    }
}

@media(min-width: 768px) {
	.quickView .productView__top {
		.productView__topLeft {
			width: 45%;
		}

		.productView__topRight {
			width: 55%;
			padding-left: 30px;
		}
	}
}

@media(min-width: 1200px) {
	.modal--quickView {
		max-width: 1013px;
	}

	.quickView .productView__top {
		.productView__topLeft {
			width: 380px;
		}

		.productView__topRight {
			width: calc(100% - 380px);
			padding-left: 30px;
		}
	}
}
