@font-face {
    font-family: 'Flaticon';
    src: url('../fonts/flaticon/') format('woff2'),
        url('../fonts/flaticon/Flaticon.woff') format('woff'),
        url('../fonts/flaticon/Flaticon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
